
body {
   background: url(../images/gallery.jpg);
}

#fixed-header {
    background-color: rgb(170, 203, 203);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    margin-top: -10px;
 
}


.socials{
    margin-left:100px
}

.main{
    border: 1px solid #000000;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 36px;
    margin: auto;
    padding: 38px;
    background-color: rgb(134 160 160);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 820px;
    height: fit-content;
}

#header-cv {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    padding: 20px;
    margin-bottom: 7px;
    color: rgb(170, 203, 203);
    height: 100px;

}

#header-cv img {
    width: 160px;
    margin-left: 6px;
    margin-right: 116px;
}



#header-cv b {
    display: block;
    font-size: xxx-large;
    margin-left: 33px;
    color: #f8f8f8;
}


#content {
    display: flex;
}

#left-side {
    border-right: 1px dotted #090909;
    float: left;
    width: 26%;
    margin-right: 0.5rem;
    padding-right: 16px;
    color: rgb(6, 6, 6);
}
#right-side {
    float: right;
    color: rgb(8, 8, 8);
    width: 74%;
}

#right-side p {
    padding-left: .3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 10px;
}


.title {
    background-color: #2e2e2e;
    margin: 10px 0;
    text-align: center;
    color: #f8f8f8;
}
.subtitle h3 {
    margin: 0;
}

.date {
    float: right;
    margin-top: -39px;
    font-weight: bold;
}

.progress-container {
    width: 100%;
    margin-left: 0;
    background-color: #fff9f9;
    height: 6px;
    border-radius: 15px;
    
}

.progress-bar {
    height: 100%;
    background-color: rgb(142 29 29);
    border-radius: 15px;
}




.download-button:hover{
    background-color: white;
}

#header img:hover {
    width: 160px;
 }
 
 #header .title-name b:hover {
     color: white;
     
 }
 .footer-list{
    font-size: xx-large;
    margin: -51px 0px 44px;
    width:800px
    ;
 }
 .navbar{
    background-color: #333;
    overflow: hidden;
 }
 .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 110px;
    text-decoration: none;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.profile-pic{
    border-radius: 30px;

}