body{
    background-image: url('../images/gallery.jpg');

}


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(143, 169, 169, 0.702);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.272);
    width: 350px;
    height:720px;
    top:5%;
    left:36%;
    margin: 10px;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    border-radius: 8%;
  
}


h2{
    color: rgb(27, 26, 26);
    position: relative;
    top:5%;
}

span{
    font-size: 18px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

