#fixed-header {
    background-color: rgb(143, 169, 169);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    margin-top: 50px;
    color: white;
    
    
}

