#dropdown-menu{
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    vertical-align: middle;
    color: white;
    background: rgb(134 160 160);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center;

}

.dropdown-content{
    cursor: pointer;
    display: none;
    background: rgb(134 160 160);
    position: relative;
    min-width: 160px;
    z-index: 1;
    left: 0;
    font-weight: normal;
    font-size: medium;
}

#dropdown-menu li{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: none;
}

#dropdown-menu ul{
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content{
    display: block;
}

#dropdown-menu li:hover{
    background: #26416a;
}
.dropdown-content.menu-rtl{
    float: right;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
} 

.row-menu{
    display: block;
    width: 100%;
    padding-right: 5px;
}

#header{
    background: rgb(27, 40, 40);;
    height: 40px;
    position: fixed;
    top: 0;
    margin-bottom: 10px;
    left: 0;
    

}